<mat-card class="mat-elevation-z4">
    <mat-card-header>
        <mat-card-title>
            {{room.hotel.name}}
        </mat-card-title>
        <mat-card-subtitle class="multi-line">{{room.description}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-icon *ngFor="let i of [].constructor(room.stars)">star</mat-icon>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onReserve()">Rezerviši za
            {{room.price | currency:'EUR'}}</button>
        <button mat-raised-button (click)="onEdit()">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-raised-button color="warn" (click)="onDelete()">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>