<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Dobrodošli na početnu stranicu!</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam perferendis, impedit
            quisquam nostrum doloremque, temporibus omnis deleniti dignissimos beatae quaerat, esse id a quo quos itaque
            illo libero cum odit.</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat deserunt atque magnam repellat velit quaerat
            deleniti voluptas tempora explicabo quis non laboriosam voluptate minus sed, similique earum, reiciendis,
            porro eveniet?</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" role="button" routerLink="/blog">Pročitajte naš blog</a>
        </p>
    </div>
</div>